<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-5 shadow overflow-y-auto " cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div class="min-h-100">
            <!-- Buttons -->
            <div class="flex justify-between w-full mb-4 gap-5">
                <a class="sm:inline-flex" mat-button [ngStyle]="{'color': color}" [routerLink]="['/filtros']">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:adjustments-vertical'"></mat-icon>
                    <span class="hidden sm:inline-block ml-2">Realizar búsqueda</span>
                </a>
                <mat-form-field class="fuse-mat-rounded fuse-mat-dense flex-auto" [subscriptSizing]="'dynamic'" >
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'" matPrefix></mat-icon>
                    <input matInput [autocomplete]="'off'" [formControl]="searchControl" [placeholder]="'Realizar busqueda'" #searchInput>
                </mat-form-field>
                <button class="sm:inline-flex" mat-button [matMenuTriggerFor]="orderByMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bars-arrow-down'"></mat-icon>
                    <span class="hidden sm:inline-block ml-2">Ordenar</span>
                </button>
                <mat-menu #orderByMenu="matMenu">
                    <button mat-menu-item (click)="sortByOnChange('Alfabeticamente: Ascendente', 'ASC')">
                        <span class="flex items-center">
                            <span>Alfabeticamente: Ascendente</span>
                        </span>
                    </button>
                    <button mat-menu-item (click)="sortByOnChange('Alfabeticamente: Descendente', 'DESC')">
                        <span class="flex items-center">
                            <span>Alfabeticamente: Descendente</span>
                        </span>
                    </button>
                </mat-menu>
            </div>
            <div class="flex justify-end w-full mb-6">
                <p class="text-secondary font-semibold">Ordenado por: {{sortFilter}}</p>
            </div>

            <!-- Main Content -->
            <ng-container *ngIf="programas.length; else noProgramas">
                <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-4 gap-x-6">

                    <ng-container *ngFor="let programa of programas">
                        <!-- <div [routerLink]="['/programs/ver/', programa.clavePrincipal]" class="col-span-1 flex flex-col cursor-pointer hover:bg-gray-100 p-2 rounded-md shadow-inner">
                            <div class="bg-black w-full h-40 overflow-hidden">
                                <img class="object-cover h-full" [src]="programa.imagen" alt="thumbnail programa">
                            </div>
                            <p class="truncate pt-2 text-lg font-bold">{{programa.titulo}}</p>
                            <p class="text-secondary text-md font-semibold">{{programa.idioma}} - {{programa.productora}}</p>
                        </div> -->
                        <!-- Card #11 -->
                        <fuse-card class="flex flex-col w-full filter-article">
                            <img class="object-cover w-full h-48" [src]="programa.imagen" [alt]="'imagen ' + programa.titulo" />
                            <div class="m-8 mb-4">
                                <div class="text-2xl font-semibold leading-tight">{{programa.titulo}}</div>
                                <div class="text-secondary text-md mt-1 font-semibold">{{programa.productora}}</div>
                                <div class="flex flex-row justify-between items-center mt-3 -mx-3">
                                    <a class="px-3" mat-button [color]="'primary'" [routerLink]="['./', programa.clavePrincipal]">
                                        Ver mas...
                                    </a>
                                    <span class="px-3 text-secondary text-md font-semibold bg-gray-100 rounded-full py-1">
                                        {{programa.idioma}}
                                    </span>
                                </div>
                            </div>
                        </fuse-card>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noProgramas>
                <div class="flex justify-center items-center w-full h-100">
                    <p class="text-secondary font-normal">No se encontraron programas</p>
                </div>
            </ng-template>
        </div>

    </div>

</div>

