<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 w-full">
    <ng-container *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; index as i">
        <a class="w-full p-2 border border-l-8 border-zinc-300 hover:bg-zinc-100 hover:shadow-md cursor-pointer" [routerLink]="['./', 2020]" (click)="setyear(i)">
            <h1 class="text-3xl font-bold tracking-normal truncate">202{{i}}</h1>
            <h2 class="text-lg font-medium text-secondary">0000 Episodios</h2>
        </a>
    </ng-container>
</div>
